<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BellisoProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BellisoProject.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />

    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index.html">
                    <span>
                        Belliso
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">

                            <li class="nav-item">
                                <a class="nav-link" href="shop.html"> Cửa hàng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="cart.html"> Giỏ hàng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="checkout.html"> Thanh Toán</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="quote_btn-container ">
                        <a href="login.html">
                            Đăng nhập
                        </a>
                        <a href="#" id="cartButton"><img src="~/Picture/shopImgs/cart.png" alt=""></a>

                        <form class="form-inline">
                            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            <!-- info section -->
            <section class="info_section layout_padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="info_logo">
                                <h5>
                                    Belliso
                                </h5>
                                <p>
                                    Belliso – nơi những kỷ niệm thắp sáng giấc ngủ của bạn. Chúng tôi cam kết mang đến cho bạn sự thoải mái và an lành trong từng giấc ngủ, giúp bạn luôn tràn đầy năng lượng mỗi ngày.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info_links pl-lg-5">
                                <h5>
                                    Liên Kết
                                </h5>
                                <ul>
                                    <li class="active">
                                        <a href="index.html">
                                            Trang chủ
                                        </a>
                                    </li>
                                    <li>
                                        <a href="shop.html">
                                            Cửa hàng
                                        </a>
                                    </li>
                                    <li>
                                        <a href="gallery.html">
                                            Giỏ hàng
                                        </a>
                                    </li>
                                    <li>
                                        <a href="checkout.html">
                                            Thanh Toán
                                        </a>
                                    </li>
                                    <li>
                                        <a href="contact.html">
                                            Liên hệ
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info_insta">
                                <h5>
                                    Instagram
                                </h5>
                                <div class="insta_container">
                                    <div>
                                        <a href="">
                                            <div class="insta-box b-1">
                                                <img src="images/productImgs/Product1.jpg" alt="">
                                            </div>
                                        </a>
                                        <a href="">
                                            <div class="insta-box b-1">
                                                <img src="images/productImgs/Product2.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="">
                                            <div class="insta-box b-1">
                                                <img src="images/productImgs/Product4.jpg" alt="">
                                            </div>
                                        </a>
                                        <a href="">
                                            <div class="insta-box b-1">
                                                <img src="images/productImgs/Product5.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info_contact">
                                <h5>
                                    Contact
                                </h5>
                                <div>
                                    <img src="images/location-white.png" alt="">
                                    <p>
                                        15 Bà Huyện Thanh Quan, Phường 10, Thành phố Đà Lạt, Lâm Đồng, Vietnam
                                    </p>
                                </div>
                                <div>
                                    <img src="images/telephone-white.png" alt="">
                                    <p>
                                        +0333 444 592
                                    </p>
                                </div>
                                <div>
                                    <img src="images/envelope-white.png" alt="">
                                    <p>
                                        Belliso@gmail.com.vn
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- end info_section -->
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
